/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.none {
  display: none !important;
}

.default {
  cursor: default !important;
}

.no-padding {
  padding: 0 !important;
}

span.yellow{
  background-color: yellow;
}

span.green{
  background-color: yellowgreen;
}

img{
  -webkit-user-drag: none;
  user-select: none;
}