/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 2rem;
  padding-right: 3rem;
  background-color: var(--primary-color);
}

.header__title {
  font-size: 5rem;
  font-weight: 600;
}

.header__img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header__notification-cnt {
  display: flex;
  align-items: center;
}

.header__notification {
  position: relative;
}

.header__notification-ic {
  margin-right: 2rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header__notification-display {
  position: absolute;
  font-size: 1.7rem;
  width: 300px;
  right: 10px;
  top: 110%;
  background-color: #191a20;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  max-height: 400px;
  overflow: auto;
}

.header__notification-display p {
  background-color: #272626;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}

.header__notification-eachmsg {
  display: flex;
  align-items: center;
}

.header__notification-clrmsg {
  width: 20px;
  height: 20px;
}

.none {
  display: none !important;
}
