/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 2rem;
  padding-right: 3rem;
  background-color: var(--primary-color);
  border-top: 5px solid;
  height: 70px;
}

.header__title {
  font-size: 3rem;
  font-weight: 400;
}

.header__title--username {
  font-weight: bold;
}

.header__img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header__profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header__options {
  display: flex;
  align-items: center;
}

.header__notification-cnt {
  display: flex;
  align-items: center;
  z-index: 5;
}

.header__notification-volume {
  padding: 0.5rem;
  position: absolute;
  right: 10px;
  top: 1rem;
}

.header__notification .volume {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 50%;
  box-sizing: unset;
}

.header__notification .volume:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.header__notification .volume[data-icon="volume-mute"],
.header__notification .volume[data-icon="volume-mute"]:hover {
  color: var(--error-color);
}

.header__notification {
  position: relative;
}

.header__notification-ic {
  margin-right: 2rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header__notification-display {
  position: absolute;
  font-size: 1.7rem;
  width: 300px;
  right: 10px;
  top: 110%;
  background-color: var(--container-bg);
  color: var(--primary-color);
  padding: 1rem;
  border: 3px solid var(--secondary-color);
  border-radius: 1rem;
  max-height: 600px;
  overflow: auto;
}

.notification__common::before {
  content: attr(data-name);
  display: block;
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.header__notification-eachmsg {
  padding: 1rem;
  border-radius: 1rem;
  margin: 2.5rem 1rem;
  background-color: var(--entertainment-color);
  display: flex;
  align-items: center;
  position: relative;
}

.header__notification-highlight {
  color: var(--white);
}

.header__notification-time {
  position: absolute;
  top: 100%;
  left: 1rem;
  font-size: 1.2rem;
  color: var(--white);
}

.no__message {
  color: var(--error-color);
  padding: 1rem;
  text-align: center;
}

.header__notification-clrmsg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.user-options {
  position: absolute;
  right: 10px;
  top: 70px;
  /* height: 100px; */
  width: 250px;
  /* padding: 1rem; */
  font-size: 2rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* gap: 2rem; */
  border-radius: 15px;
}

.user-option {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  flex: 1;
  min-height: 50px;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
}

.user-option:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}


/* navbar */
.navbar {
  height: 45px;
  padding: 1rem;
  padding-bottom: 0;
  padding-top: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__title {
  font-size: 2.5rem;
  font-weight: 400;
}

.navbar__tab {
  cursor: pointer;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__tab--active {
  color: var(--error-color);
  border-bottom: 5px solid var(--error-color);
}

.navbar__img {
  height: 50%;
  margin-right: 2rem;
  cursor: pointer;
}

/* main */
/* main - common */
.main {
  height: calc(100vh - 145px);
}

/* footer */
.footer {
  height: 30px;
  font-size: 1.5rem;
  background-color: var(--container-bg);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
