@import url("https://fonts.googleapis.com/css2?family=Klee+One&display=swap");
body {
  background: url("../assets/icons/sign_in/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.verification {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  background-color: #442656;
  color: #fbae3c;
  padding: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.verification__resend {
  padding: 1rem 3rem;
  margin-top: 2rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  border: 2px solid transparent;
  background-color: #fbae3c;
  color: #442656;
}

.verification__resend:hover {
  border-color: #fbae3c;
  color: #fbae3c;
  background-color: transparent;
}

.sign-in,
.google__signup {
  position: absolute;
  top: 15px;
  width: 150px;
  height: 60px;
  font-size: 2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #442656;
  color: #fbae3c;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.sign-in {
  right: 15px;
}

.google__signup {
  right: 200px;
}

.sign-in:hover,
.google__signup:hover {
  background-color: #fbae3c;
  color: #442656;
}

.time {
  position: absolute;
  top: 15px;
  left: 25px;
  font-family: "Klee One", cursive;
  font-size: 3rem;
  font-weight: bold;
  color: #442656;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.time:hover {
  transform: scale(1.2);
}

.title,
.sub-title {
  font-family: "Klee One", cursive;
  color: #fbae3c;
}

.title {
  font-size: 13rem;
  text-shadow: 0.03em 0.025em #442656;
}

.sub-title {
  font-size: 2.5rem;
  font-weight: normal;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: transparent;
  color: white;
  overflow: hidden;
  position: relative;
}

.google-signin-user-name {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #442656;
  z-index: 1;
}

.google-signin-user-name__input {
  align-self: center;
  font-size: 4rem;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #fbae3c;
  color: #fbae3c;
  background-color: #442656;
}

.google-signin-user-name__input:focus {
  outline: none;
}

.google-signin-user-name__error {
  color: red;
  font-size: 1.8rem;
}

.google-signin-user-name__next {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 3rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: #fbae3c;
  color: #442656;
  cursor: pointer;
}

.google-signin-user-name__next:hover {
  background-color: #442656;
  color: #fbae3c;
}

.features {
  display: flex;
  gap: 3.5rem;
}

.feature {
  width: 5rem;
  height: 5rem;
  transition: all 0.3s ease-in-out;
}

.feature:hover {
  transform: scale(1.2);
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 95%;
  height: 95%;
  max-height: 700px;
  background-color: #44265666;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.login__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  font-size: 2rem;
  background-color: #442656;
  color: #fbae3c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.login__header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login__header h2:first-child {
  border-top-left-radius: 10px;
}

.login__header h2:hover {
  background-color: #fbae3c;
  color: #442656;
}

.login__header h2:last-child {
  border-top-right-radius: 10px;
}

.login__form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 2rem 0 2rem;
}

.input__field {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input__field label {
  color: #fbae3c;
  font-weight: 500;
}

.form__input {
  height: 5rem;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #fbae3c;
  font-family: inherit;
  font-size: inherit;
  color: #fbae3c;
}

.form__button {
  width: 30%;
  margin: 0 auto;
  height: 6rem;
  font-size: 2rem;
  background-color: #fbae3c;
  color: #442656;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form__button:hover {
  background-color: #442656;
  color: #fbae3c;
}

.active {
  background-color: #fbae3c;
  color: #442656;
}

.none {
  display: none;
}

.error {
  color: red;
  font-size: 1.7rem;
}
