/* header */
.header {
  height: 70px;
}

.header__title {
  font-size: 3rem;
  font-weight: bold;
}

/* navbar */
.navbar {
  height: 45px;
  padding: 1rem;
  padding-bottom: 0;
  padding-top: 0;
  background-color: #191a20;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__title {
  font-size: 2.5rem;
  font-weight: 400;
}

.navbar__tab {
  cursor: pointer;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__tab--active {
  color: red;
  border-bottom: 5px solid red;
}

.navbar__img {
  height: 50%;
  margin-right: 2rem;
  cursor: pointer;
}

/* main */
/* main - common */
.main {
  height: calc(100vh - 145px);
  padding: 1rem;
  background-color: black;
  display: grid;
  grid-template-columns: 27% 45% auto;
  grid-gap: 1rem;
}

.main__img {
  height: 100%;
}

.main__input {
  background-color: inherit;
  outline: none;
  border: none;
  font-size: inherit;
  padding: 2rem ;
  width: 100%;
}

.main__input:focus{
  background-color: #42444d;
  color: white;
}

.main__container {
  background-color: #191a20;
  border-radius: 2rem;
  overflow: auto;
  overflow-x: hidden;
  padding: 1.5rem;
}

.no-padding{
  padding: 0;
}

/* main - friends & search */
.main__friend-card,
.main__result-card,
.main__received-card,
.main__sent-card {
  background-color: #c4c4c4;
  height: 3em;
  margin: 1.5rem;
  padding: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
}

.main__remove-friend,
.main__add-friend {
  outline: none;
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.main__remove-friend-ic,
.main__add-friend-ic, .main__pending-friend-ic{
  width: 40px;
  height: 40px;
  margin: 0 .5rem;
  cursor: pointer;
}

.main__remove-friend-ic:hover,
.main__add-friend-ic:hover{
  transform: scale(1.2);
} 

.main__friend-name{
  flex: 1;
  margin-left: 2rem;
}

.main__search-trigger {
  color: black;
  background-color: #c4c4c4;
  border-radius: 15px;
  height: 3em;
  margin: 1.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* main- chat-window */
.main__chat {
  padding: 0;
  height: 100%;
}

.main__chat-window {
  height: 100%;
  border-radius: 15px;
}

/* main --chat-header */
.main__chat-header {
  height: 10%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 600;
  background-color: var(--primary-color);
}

/* main --chat-sender */
.main__chat-message-sender {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__input--chat {
  height: 100%;
  font-size: 2rem;
  background-color: #c4c4c4;
  padding: 2rem;
  overflow: auto;
  border-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex: 10;
}

.main__img--chat {
  height: 5rem;
}

.main__img--send,
.main__img--file {
  height: 100%;
  max-width: 10rem;
  padding: 1rem;
  background-color: #c4c4c4;
}

.main__img--file {
  flex: 1;
  background-color: #c4c4c4;
}

/* main --chat-body */
.main__chat-body{
  height: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

/* main --chat-container */
.main__chat-container {
  width: 100%;
  max-height: 100%;
  display: grid;
  gap: 3rem;
  padding: 2rem;
  overflow: auto;
}

.main__message-container {
  position: relative;
  height: max-content;
  display: flex;
}

.main__message-container--right {
  justify-content: flex-end;
}

.main__message-container--left {
  justify-content: flex-start;
}

.main__message {
  background-color: #c4c4c4;
  height: 100%;
  width: 50%;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.main__time-stamp {
  position: absolute;
  top: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.main__time-stamp--right {
  left: 52%;
}

.main__time-stamp--left {
  right: 52%;
}

/* main --chat-requests */
.main__requests {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__requests > * {
  max-height: 50%;
  flex: 1;
  border-radius: 15px;
  border: 2px solid var(--primary-color);
  display: flex;
  flex-direction: column;
}

.main__req-cards {
  flex: 1;
  overflow: auto;
}

.main__req-header {
  background-color: var(--primary-color);
  font-size: 3rem;
  font-weight: normal;
  border-radius: 15px 15px 0 0;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__req-rec {
  background-color: #191a20;
}

.main__req-sent {
  background-color: #191a20;
}

/* footer */
.footer {
  height: 30px;
  font-size: 1.5rem;
  background-color: #191a20;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default{
  cursor: default;
}