/*--------------------------------------- note creation ------------------------------*/
.notes{
    padding: 1rem 1rem 0 0;
    display: flex;
    border-bottom: 1px solid var(--primary-color);
}

.notes_menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 300px;
    height: 100%;
    margin-right: 1rem;
    border-right: 1px solid var(--primary-color);
    /* background-color: var(--primary-color); */
}

.notes_display{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.notes__creat-cnt{
    padding: .5rem;
    font-size: 1.4rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-color);
    transition: background-color .2s linear;
}

.notes__creat-cnt:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.notes__creat-cnt img{
    width: 30px;
    margin: 1rem;
    margin-right: 2rem;
}

.normal_notes-cnt{
    width: 100%;
}

.normal_notes-cnt h2{
    margin: 2rem 1rem;
    border-bottom: 1px solid var(--gray);
    color: var(--primary-color);
}

.note_card{
    font-size: 1.4rem;
    color: var(--gray-bg);
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.note_card:hover{
    background-color: var(--gray);
}

.note_select{
    width: 20px;
    height: 20px;
    border: 2px solid var(--accent-color);
}

.note_select:hover{
    background-color: var(--primary-color);
}

.active-note{
    background-color: var(--gray);
}

.remove_note{
    width: 20px;
}

/* ---------------------------------------firepad----------------------------------- */

.editor-cnt{
    width: 100%;
    height: 100%;
    background-color: var(--container-bg);
}

.no-editor{
    width: 100%;
    height: 100%;
    background-color: var(--gray);
    color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.rich-editor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.editor-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.note-share-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--gray);
    cursor: pointer;
    padding: 1rem;
}

.note-link{
    font-size: 1.4rem;
    color: var(--white);
    margin: 0 1rem;
}

.note-copy-link{
    width: 20px;
}

.editor-title{
    color: var(--primary-color);
    font-size: 2rem;
    width: max-content;
    white-space: nowrap;
    max-width: 400px;
    overflow: hidden;
}

.editor-title br {
    display:none;

}
.editor-title * {
    display:inline;
    white-space:nowrap;
}

#firepad-container{
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: var(--gray);
}

/* #userlist{
    position: absolute;
} */