@import url("https://fonts.googleapis.com/css2?family=Klee+One&display=swap");
body {
  background: url("../assets/icons/sign_in/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  display: flex;
  gap: 3.5rem;
}

.feature {
  width: 5rem;
  height: 5rem;
  transition: all 0.3s ease-in-out;
}

.feature:hover {
  transform: scale(1.2);
}

.title,
.sub-title {
  font-family: "Klee One", cursive;
  color: var(--primary-color);
}

.title {
  font-size: 13rem;
  text-shadow: 0.03em 0.025em var(--secondary-color);
}

.sub-title {
  font-size: 2.5rem;
  font-weight: normal;
}

.display {
  padding: 1rem;
  background-color: #44265666;
  color: var(--primary-color);
  font-size: 2rem;
  max-height: 400px;
  margin-top: 4rem;
  border-radius: 15px;
}

.display form {
  display: flex;
  flex-direction: column;
}

.input__field {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  margin: 2rem 0;
}

.input__field label {
  color: var(--primary-color);
  font-weight: 500;
}

.login__form {
  padding: 2rem;
}

.form__input {
  height: 5rem;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid var(--primary-color);
  font-family: inherit;
  font-size: inherit;
  color: var(--primary-color);
}

.form__button {
  margin: 3rem auto;
  height: 6rem;
  font-size: 2rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  padding: 1rem 3rem;
  position: relative;
}

.form__button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.toggle-pass {
  width: 40px;
  position: absolute;
  right: 5%;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--primary-color);
}

.toggle-pass:hover {
  color: #994cc5;
}

.notification{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  padding: 2rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.error {
  color: var(--error-color);
  font-size: 1.7rem;
  position: absolute;
  top: 100%;
}