.header__login-head{
  cursor: pointer;
  padding: 1rem 2rem;
  border: 2px solid black;
  border-radius: 1rem;
}

.header__login-head:hover{
  background-color: black;
  color: white;
}

.header__login-cnt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.header__login-cnt input{
  font-size: 4rem;
  color: black;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid black;
  align-self: center;
  margin: 3rem 1rem;
}

.header__login-cnt input:focus{
  outline: none;
  border-color: red;
}

.header__login-switch{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 4rem;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 1rem;
}

.header__login-separator{
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 2px solid black;
}

.header__login-inup{
  padding: 1rem 0;
  cursor: pointer;
}

.header__login-inupt:hover{
  color: red;
}

.header__login-btn{
  padding: 1rem 2rem;
  border: none;
  font-size: 3rem;
  margin: 2rem 0;
  width: 50%;
  cursor: pointer;
}

.header__login-btn:hover{
  background-color: black;
  color: white;
}

.header__login-in{
  background-color: black;
  color: white;
  height: 100%;
}

.header__login-img{
  width: 65%;
  height: 100px;
  margin-top: 1rem;
  cursor: pointer;
}

.main {
  height: calc(100vh - 100px);
  display: flex;
  padding: 3rem;
  background-color: black;
  color: white;
  overflow: hidden;
  position: relative;
}

.main__name{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  z-index: 1;
}

.main__name--input{
  font-size: 4rem;
  color: black;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid black;
  align-self: center;
}

.main__name--input:focus{
  outline: none;
}

.main__name--err{
  color: red;
  font-size: 1.8rem;
}

.main__name--next{
  align-self: flex-end;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: blue;
  padding: .5rem 1rem;
  border-radius: 1rem;
}

.main__name--next:hover{
  background-color: transparent;
  color: black;
}

.main__feature-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.main__feature-wrapper--2 {
  display: flex;
  flex-direction: row;
}

.main__feature-wrapper--2 .main__img {
  width: 25rem;
  height: 25rem;
}

.main__features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.main__feature-text {
  width: 30rem;
  font-size: 3rem;
  text-align: center;
  padding: 0.25em;
  border-radius: 1rem;
  margin: 1rem;
  background-color: var(--primary-color);
}

.main__img {
  width: 20rem;
  height: 20rem;
}

.main__text--notes {
  background-color: var(--notes-color);
}

.main__text--files {
  background-color: var(--file-upload-color);
}

.main__text--entertainment {
  background-color: var(--entertainment-color);
}

.main__text--calendar {
  background-color: var(--calendar-color);
}

.main__text--chat {
  background-color: var(--chat-color);
}

.main__text--calculator {
  background-color: var(--calculator-color);
}

.signin-prompt {
  font-size: 4rem;
  color: white;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.signin-prompt--bold {
  font-weight: bold;
}

.none{
  display: none;
}